[Unit]
Description=Simplenote Trans Service
After=network.target

[Service]
Type=simple
User=admin
WorkingDirectory=/home/project/simpleNote
ExecStart=/usr/bin/python3 /home/project/simpleNote/transNote.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
